global {
  usage-count yes;
}
common {
  net {
    protocol C;
        max-buffers             80k;
        max-epoch-size 8000;
        sndbuf-size            0;
        rcvbuf-size            0;
  }
}

resource r0_gitlab {
  device    minor 1;
  meta-disk internal;
    disk {
     resync-rate         3123M; # bytes/second, default
     c-plan-ahead        20; # 1/10 seconds, default
     c-delay-target      10; # 1/10 seconds, default
     c-fill-target       1M; # bytes, default
     c-max-rate          3123M; # bytes/second, default
     c-min-rate          250k; # bytes/second, default
     disk-barrier no;
     disk-flushes no;
        }
  options {
    quorum off;
    on-no-quorum suspend-io;
  }


  on {{hostvars[groups['drbd_primary'][0]]['inventory_hostname']}} {
    disk      {{hostvars[groups['drbd_primary'][0]]['drbd_storage_path']}};
    address   {{hostvars[groups['drbd_primary'][0]]['drbd_ip_address']}}:{{drbd_port}};
    node-id   0;
  }

{% set node_count = 1 %}
{% for item in groups['drbd_secondary'] %}
  on {{hostvars[item]['inventory_hostname']}} {
    disk      {{hostvars[item]['drbd_storage_path']}};
    address   {{hostvars[item]['drbd_ip_address']}}:{{drbd_port}};
    node-id   {{node_count}};
  }
{% set node_count = node_count + 1 %}
{% endfor %}


  connection-mesh {
    hosts {{hostvars[groups['drbd_primary'][0]]['inventory_hostname']}} {% for item in groups['drbd_secondary'] %} {{hostvars[item]['inventory_hostname']}} {% endfor %} ;
  }
}


